body{
	font-size: 14px;
}
.container{
	width: 80%;
	margin: auto;
}
main-table{

}
.text-center{
	text-align: center;
}
table{
	width: 100%;
}
td {
	min-width: 100px;
}
td.header1{
	background-color: #555;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
td.header2{
	background-color: #D9EDF7;
	color: black;
}