.anu{
	background-color: grey;
	text-align: center;
	color: white;
	border: 1px solid #000;
	height: 50px;
}
body{
	border: solid 1px #000;
}
#headerlap{
	background-color: grey;
	text-align: center;
	width: 1300px;
	height: 30px;
	border: solid;
	border-right: transparent;
	border-left: transparent;
	border-width: thin;
}
.underline{
	 border-bottom: 1px solid;
	 height: 20px
}