body{
	border: none;
}
.container{
	width: 80%;
	margin: auto;
	border: 1px solid black;
}
th{
	border: none;
    text-align: center;
    padding: 5px;
}
td{
 	border: none;
    text-align: center;
    padding: 5px;
 	text-align: left;
}
.text-center{
	text-align: center;
}
#table1{
  	position: relative;
 }
.tulisan {
	color: white;
  	background-color: red;
  	text-transform: uppercase;
  	width: 700px;
}
.header1{
	background-color: red;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.ttd{
	border: 1px solid black;
	width: 250px;
}
.bb{
	border-bottom: 1px solid black;
}
.catatan{
	border-bottom: 1px solid black;
	height: 20px;
}
.photo{
	height: 450px;
}
.foto{
	text-align: center;
    width: 400px;
    height: 350px;
    border: 1px solid black;
}
