body{
	font-size: 14px;
}
.container{
	width: 90%;
	margin: auto;
}
#main-table{
	position: relative;

}
.text-center{
	text-align: center;
}
table{
	width: 100%;
}
td {
	min-width: 100px;
}
td.tabelkosong{
	border: 0px;
}
td.header1{
	background-color: #839B8C;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}
td.header2{
	background-color: #D9EDF7;
}
td.miring{
	font-style: italic;
}
.garis{
	border-bottom: 1px solid black;
	height: 20px;
}